<fieldset>
    <h3>Address</h3>
    {% render object.first_name %}
    {% render object.last_name %}
    {% render object.street %}
    {% render object.number %}
    {% render object.post_code %}
    {% render object.city %}
    {% render object.country %}
</fieldset>