<fieldset>
    <h3>Address</h3>
    {% render field_set.first_name %}
    {% render field_set.last_name %}
    {% render field_set.street %}
    {% render field_set.number %}
    {% render field_set.post_code %}
    {% render field_set.city %}
    {% render field_set.country %}
</fieldset>