<h2>Checkout Form</h2>

<form action="/" method="post">
    {% render field_set.order_id %}
    {% render field_set.delivery_address %}
    {% render field_set.payment %}
    <button type="submit">Submit</button>
</form>

