{% if not object.isValid() %}
    {% for message in object.getMessages() %}
        <div class="error">{{ message }}</div>
    {% endfor %}
{% endif %}
<label>
    <span class="label">{{ object.getOption('label') }}</span>
    <input type="number" name="{{ object.getName(true) }}" value="{{ object.getValue() }}">
</label>