{% if valid == false %}
    {% for message in messages %}
        <div class="error">{{ message }}</div>
    {% endfor %}
{% endif %}
<label>
    <span class="label">{{ label }}</span>
    <input type="text" name="{{ name }}" value="{{ value }}">
</label>