<style>
    label {
        display: block;
    }
    .label {
        display: block;
        font-weight: bold;
    }
    .error {
        padding: 5px;
        border: 1px solid #ff0000;
        background: rgba(255,0,0,.1);
        margin: 10px 0;
    }
</style>

<h1>Form Builder Demo</h1>

{% render form %}